### 3.6.1 RのNA，Pythonのnan

In [ ]:
my_v = c(1, NA, 3)
my_v
#> [1]  1 NA  3

In [ ]:
is.na(my_v[2])
#> [1] TRUE

my_v[2] == NA # 誤り
#> [1] NA

### 3.6.2 変数についての調査

In [ ]:
x = 123
typeof(x)
#> [1] "double"

In [ ]:
x <- list("apple"   = "りんご",
          "orange" = "みかん")
names(x)
#> [1] "apple"  "orange"

In [ ]:
str(x)
#> List of 2
#>  $ apple : chr "りんご"
#>  $ orange: chr "みかん"